//main style
html {
  scroll-behavior: smooth;
}

body {
  @extend %font-main-text;
  background-color: $color-background-main;
}

//main
main {
  max-width: 100vw;
  overflow: hidden;
}

//style for main size wrapper
.size-wrapp {
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}

.size-wrapp-normal {
  max-width: 1030px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}

.size-wrapp-small {
  max-width: 620px;
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin: auto;

  .button-normal {
    margin-top: 48px;
  }
}

//style for button-normal
.button-normal {
  background-color: $button-normal-color;
  padding: 12px 28px;
  border-radius: 32px;
  @extend %font-button-normal;
}

//background
.background-dark {
  background-color: $color-black;
  color: $color-white;
}

//style for title
.title-small {
  @extend %title-small;
}

.text-big {
  @extend %text-big;
}

.title-regular {
  @extend %title-regular;
}

.content-text {
  max-width: 790px;
  width: 100%;
  margin: auto;
  text-align: center;

  .button-normal {
    margin-top: 48px;
  }
}

//icons
.items-icon {
  background-color: $background-icon;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  margin: 0 32px 0 0;

  &.items-icon-dark {
    background-color: $background-icon-dark;
    margin: 0 -20px 26px;
  }

  .icon-img {
    display: block;
    width: 40px;
    height: 40px;
  }
}

//items component
.block-items {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  //transition: .5s;
  opacity: 0;

  &__item {
    display: flex;
    align-items: center;
    padding: 37px 0;
  }

  &__title {
    @extend %icon-title;
    padding-bottom: 7px;
  }
}

// main items
.main-items {
  padding: 0 0 200px;
  position: relative;

  &__list {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    text-align: center;

    span {
      display: block;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    max-width: 33.3333%;
    width: 100%;
  }

  .items-icon {
    margin: 0 0 26px 0;
  }

  &__item-title {
    @extend %icon-title-small;
    padding-bottom: 8px;
  }

  &__item-text {
    color: $color-items-text;
  }
}

// colors
.orange {
  color: $color-orange;
}

.color-purple {
  color: $color-purple;
}

.color-pink {
  color: $color-pink;
}

.color-light-blue {
color: $color-light-blue;
}

.bg-orange {
  background-color: $color-orange;
}

.bg-blue {
  background-color: $color-blue;
}

.bg-pink {
  background-color: $color-pink;
}

.bg-fuchsia {
  background-color: $color-fuchsia;
}

.bg-yellow {
  background-color: $color-yellow;
}

.bg-purple {
  background-color: $color-purple;
}

// gallery
.main-gallery {
  .gallery {
    height: 100vh;
  }

  .gallery-list {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .gallery-item {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__image {
      max-width: 50%;
      width: 100%;
    }

    &__image-inner {
      max-width: 565px;
      width: 100%;
    }

    &__text {
      max-width: 48%;
      width: 100%;
      //padding-left: 40px;

      .button {
        margin-top: 48px;
      }
    }

    &__text-inner {
      max-width: 400px;
      width: 100%;
      margin: auto;
    }
  }
}

// inversion
.section-inversion-dark {
  background-color: $color-black;

  .title-regular, h2, .block-items__title, h3 {
    color: $color-white;
  }

  .items-icon {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .block-items {
    &__text {
      color: $color-items-text
    }

    &__title {
      color: $color-white
    }
  }
}

// fixed swiper transition
.swiper-wrapper {
  -webkit-transition-timing-function : linear;
  -o-transition-timing-function : linear;
  transition-timing-function : linear;
}

body .splide__track {
  overflow: visible;
}