//main style
body {
  @extend %font-main-text;
  background-color: $color-background-main;
}

//main
main {
  max-width: 100vw;
  overflow: hidden;
}

//style for main size wrapper
.size-wrapp {
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}

.size-wrapp-small {
  max-width: 620px;
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin: auto;

  .button-normal {
    margin-top: 48px;
  }
}

//style for button-normal
.button-normal {
  background-color: $button-normal-color;
  padding: 12px 24px;
  border-radius: 32px;
  @extend %font-button-normal;
}

//background
.background-dark {
  background-color: $color-black;
  color: $color-white;
}

//style for title
.title-small {
  @extend %title-small;
}

.text-big {
  @extend %text-big;
}

.title-regular {
  @extend %title-regular;
}

.content-text {
  max-width: 790px;
  width: 100%;
  margin: auto;
  text-align: center;

  .button-normal {
    margin-top: 48px;
  }
}
