* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.span, a {
  display: inline-block;
}

video {
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 100%;
}