//hero
.section-hero {
  position: relative;
  margin: 75px auto 0;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  .hero-video {
    height: 100vh;
    width: 100vw;
    //height: calc(100vh - 75px);
    object-fit: cover;
  }

  &__text {
    position: absolute;
    top: 100vh;

    .title-small {
      margin-bottom: 16px;
    }

    p {
      max-width: 395px;
      margin: auto;
    }
  }
}

.section-about {
  padding-bottom: 60px;

  @include media-max-height-900 {
    padding-top: 60px;
  }

  &__slider {
    width: 100%;
    overflow: hidden;
    padding-top: 65px;
  }

  &__slider-track {
    .about-slider-list {
      display: flex;
    }

    .about-slider-item {
      margin: 0 10px;

      img {
        width: 995px;
      }
    }
  }

  &__text-narrow {
    max-width: 695px;
    width: 100%;
    padding-left: 205px;
  }
}

.section-video-in-picture {
  padding-top: 10vh;
  overflow: hidden;
  max-width: 100vw;
  width: 100%;

  .content-text {
    max-width: 590px;
    padding-bottom: 28px;

    &__subtitle {
      max-width: 385px;
      margin: auto;
    }
  }

  &__video-block {

    .video-in-picture {
      //object-fit: cover;
    }

    .background-video-picture {
      position: absolute;
      width: 230%;
      height: 100%;
      top: 5%;
      left: -65%;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;

      &.visible {
        visibility: visible;
      }

      .background-video-picture-inner {
        width: 100%;
      }

      img {
        object-fit: contain;
      }

    }
  }

  &__video-block-inner {
    width: 100vw;
    min-height: 100vh;
    padding-top: $height-header;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s linear;
  }

  .main-items {
    z-index: 1;

    &__list {
      transform: translateY(50vh);
    }
  }
}

.section-checking-account {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .content-text {

    &__subtitle {
      max-width: 590px;
      margin: 0 auto;
    }
  }
}

.section-gallery-first {

  $index: 5;
  @while $index >= 0 {
    .gallery-first-item-#{$index} .gallery-item__image-inner {
      margin-left: 24px * $index;
      margin-top: -52px * $index;
    }
    $index: $index - 1;
  }
}

.section-phone-scroll {
  height: 100vh;

  .block-phone-scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-top: $height-header;

    .half {
      width: 100%;
      max-width: 50%;
      position: relative;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      //margin-top: -70px;
    }

    &-image {
      transform: translateY(35vh);
    }

    .phone-scroll {
      &-interactive {
        position: absolute;
        opacity: 0;
      }

      &__title {
        margin-top: 85px;
      }

      &__text {
        max-width: 285px;
        margin-top: -70px;

        .button-normal {
          margin-top: 48px;
        }
      }

      &__items {
        //margin-top: 10vh;

        //.block-items__item:not(:last-child) {
        //  padding: 0 0 55px;
        //}
      }
    }

    .phone-scroll-image {
      max-width: 405px;
      width: 100%;
      margin-left: auto;
    }
  }
}

.section-tagline {
  background-color: $color-black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__tagline {
    display: block;
    @extend %tagline;
    margin: 0 -2vw 0;
  }

  &__video {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .tagline-video {
      max-width: 30%;
      width: 100%;
      height: auto;
      padding-top: $height-header;
      object-fit: cover;
    }
  }
}

.section-gallery-sell {
  .gallery-item {
    &__text {
      overflow: hidden;
    }
  }

  .gallery-item__image-inner {
    max-width: 525px;
  }

  .gallery-item__text-inner {
    padding-left: 65px;
    margin: 0;
    max-width: 415px;
  }

  .gallery-sell-item-1 .gallery-item__image-inner {
    transform: translate(24px, -12px);
  }

  .gallery-sell-item-2 .gallery-item__image-inner {
    transform: translate(48px, 8px);
  }

  .gallery-sell-item-3 .gallery-item__image-inner {
    transform: translate(80px, -30px);
  }
}

.section-enabled {
  padding-top: 220px;
  transition: background-color 0.5s ease-in-out;

  &__description {
    max-width: 730px;
    text-align: center;

    p {
      max-width: 400px;
      margin: auto;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 118px 0 210px;

    .enabled-image-0, .enabled-image-2 {
      max-width: 285px;
      width: 100%;
    }

    .enabled-image-1 {
      max-width: 590px;
      width: 100%;
    }
  }

  &__mask {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .mask-inner {
      max-width: 630px;
      width: 100%;
      margin: auto;
    }
  }

  &__links {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 595px;
    width: 100%;
    z-index: -1;

    .enabled-link {
      color: $color-white;
      text-align: center;

      a {
        min-width: 185px;
        width: 100%;
        padding: 24px;
      }
    }
  }
}

.section-audio {
  &__text {
    padding: 200px 0 100px;
    max-width: 390px;
    width: 100%;
  }

  .main-items {
    color: $color-icon;
    padding: 145px 0 170px;

    &__item-title {
      color: $color-main;
    }
  }

  .main-items-list-audio {
    transform: translateY(160px);
    opacity: 0;
  }
}

.section-static {
  padding: 200px 0 200px;

  &__inner {
    display: flex;
    justify-content: space-between;

    .title-regular {
      max-width: 390px;
      width: 100%;
    }
    .subtitle {
      max-width: 305px;
      width: 100%;
    }
  }

  .block-static-left {
    max-width: 490px;
    width: 100%;

    &__image {
      padding-top: 140px;
    }
  }

  .block-static-right {
    max-width: 390px;
    width: 100%;

    &__image {
      padding: 25px 0 70px;
    }
  }

  .block-items__item {
    padding: 24px 0;
  }
}

.section-funding-every {
  transition: background-color 0.5s ease-in-out;

  &__inner {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    height: 100vh;
  }

  .block-items__list {
    //padding-bottom: 38vh;
    margin: -37px 0;
  }

  &__headline {
    max-width: 415px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__items {
    max-width: 375px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}

.section-reliable {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
  }

  &__slider {
    max-width: 490px;
    width: 100%;
    max-height: 600px;

    .reliable-sliders {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 36px;
      background-color: $color-background-slider;
    }
  }

  &__text {
    max-width: 590px;
    padding-right: 15px;
    width: 100%;
  }

  .subtitle {
    max-width: 410px;
    width: 100%;
  }

  &__items {
    padding: 120px 50px 0 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .reliable-item {
      max-width: 125px;
      width: 100%;
      color: $color-black;

      &-title {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.35;
        letter-spacing: -1px;
        padding-bottom: 8px;
      }

      &-text {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.333;
      }
    }

    span {
      display: block;
    }
  }

  .reliable-slider {
    height: 67vh;
    margin: inherit;

    &__slide-inner {
      max-width: 145px;
      max-height: 145px;
      width: 100%;
      border-radius: 50%;
      padding: 40px;
      background-color: $background-icon-slider;
    }

    .swiper-slide {
      height: 145px;
    }

    &__flag {
      max-width: 64px;
      width: 100%;
    }
  }
}

.section-smarter {
  &__headline {
    padding-bottom: 100px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 0 25px;

    .smarter-image,  .smarter-image img {
      max-width: 310px;
      max-height: 70vh;
    }
  }

  .block-items {
    &__item {
      transform: translateY(50px);
      opacity: 0;
      transition: transform 0.5s linear,
      opacity 0.2s linear;
    }
  }

  .smarter-item-start-interactive {
    transform: translateY(0);
    opacity: 1;
  }
}