%font-main-text {
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 1.6;
  color: $color-text;

  @include media-mobile-small {
    font-size: 14px;
  }

  @include media-mobile-horizontal {
    font-size: 12px;
  }
}
%font-button-normal {
  color: $color-white;
  text-align: center;
  font-weight: 600;

  @include media-mobile {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
  }
}

%font-nav-header {
  font-weight: 500;
  color: $color-main;

  @include media-tablet {
    font-size: 24px;
  }
}

%title-regular {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -1px;
  margin-bottom: 24px;
  color: $color-black;

  @include media-mobile {
    font-size: 32px;
    line-height: 1.375;
    margin-bottom: 16px;
  }

  @include media-mobile-small {
    font-size: 30px;
    line-height: 1.375;
    margin-bottom: 14px;
  }

  @include media-mobile-horizontal {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

%title-small {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.37;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 24px;
  color: $color-black;

  @include media-mobile {
    font-size: 20px;
    line-height: 1.47;
  }
}

%title-big {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -1px;
  padding-bottom: 48px;
}

%text-big {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.333;
  letter-spacing: -1px;
  color: $color-main;

  @include media-mobile {
    font-size: 18px;
    line-height: 1.44;
  }

  @include media-mobile-horizontal {
    font-size: 18px;
    text-align: center;
  }
}

%icon-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.333;
  letter-spacing: -1px;
  color: $color-main;

  @include media-mobile {
    font-size: 18px;
    //line-height: 1.625;
  }

  @include media-mobile-small {
    font-size: 16px;
  }

  @include media-mobile-horizontal {
    font-size: 14px;
  }
}

%icon-title-small {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.44;
  text-align: center;
}

%tagline {
  font-size: 17.7vw;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.02em;
  white-space: nowrap;
  color: $color-white;

  @include media-mobile {
    font-size: 88px;
    line-height: 1.28;
    letter-spacing: -1.7666782140731812px;
    padding-left: 100px;
  }
}


