$mediaWidthMobileSmall: 350px;
$mediaWidthMobile: 767px;
$mediaWidthTablet: 991px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1024px;
$mediaWidthMobileHorizontalSmall: 560px;
$mediaWidthMobileHorizontal: 700px;
$heroVideoHeight: 770px;
$mediaHeight-900: 900px;

@mixin media-tablet {
  @media (max-width: $mediaWidthTablet) {
    @content;
  }
}

@mixin media-tablet-horizontal {
  @media (max-height: $mediaWidthTabletHorizontal) {
    @content;
  }
}

//@mixin media-mobile-horizontal-small {
//  @media (max-height: $mediaWidthMobileHorizontalSmall) and (max-width: $mediaWidthTablet){
//    @content;
//  }
//}

@mixin media-mobile-horizontal {
  @media (max-height: $mediaWidthMobileHorizontal) and (max-width: $mediaWidthMobile) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: $mediaWidthLaptop) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mediaWidthMobile) {
    @content;
  }
}

@mixin media-mobile-small {
  @media (max-width: $mediaWidthMobileSmall) {
    @content;
  }
}

@mixin media-custom-for-hero-video {
  @media (max-height: $heroVideoHeight) {
    @content;
  }
}

@mixin media-max-height-900 {
  @media (max-height: $mediaHeight-900) {
    @content;
  }
}

//color
$color-background-main: rgb(253,252,253);
$color-background-slider: rgba(157, 165, 241, 0.06);
$color-white: #fff;
$color-black: #000;
$color-main: #1D1D1F;
$color-text: #717171;
$color-items-text: #BDBDBD;
$color-icon: #676767;
$button-normal-color: #1D1D1F;
$background-icon-dark: #262626;
$background-icon: #F5F5F5;
$background-icon-slider: #EEF0FC;
$color-orange: #FF7A00;
$color-purple: #7638FA;
$color-yellow: #F3CE0C;
$color-pink: #FF0169;
$color-fuchsia: #D300C5;
$color-blue: #504CFF;

// size
$height-header: 75px;